---
---

<section id="hero" class="pt-24 pb-16 md:pb-24 md:pt-32 px-6 flex items-center min-h-[500px] relative overflow-x-clip">
    <div class="max-w-4xl mx-auto text-center z-10">
        <h2 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-6 pt-1 bg-gradient-to-r from-blue-400 to-purple-500 text-transparent bg-clip-text animate-fadeIn">Üdvözlünk a projektes oldalunkon!</h2>
        <p class="text-xl md:text-2xl text-gray-300 max-w-2xl mx-auto animate-fadeIn animation-delay-300">Itt a középiskolás IKT. projektjeink találhatóak!</p>
        <a href="#projects" class="mt-8 inline-flex items-center justify-center px-8 py-3 md:px-10 md:py-4 border border-transparent text-base md:text-lg font-medium rounded-full text-white bg-gradient-to-r from-blue-500 to-purple-600 hover:from-blue-600 hover:to-purple-700 hover:brightness-90 transform hover:scale-105 bg-clip-padding transition-all duration-300 ease-in-out">
            Projektek megtekintése
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 ml-2" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd" d="M16.707 10.293a1 1 0 010 1.414l-6 6a1 1 0 01-1.414 0l-6-6a1 1 0 111.414-1.414L9 14.586V3a1 1 0 012 0v11.586l4.293-4.293a1 1 0 011.414 0z" clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <div class="absolute top-12 -right-24 w-96 h-96 bg-purple-500/20 rounded-full filter blur-3xl"></div>
</section>